/*  your css code here. If applicable */
.head{
	text-align:center;
}
#table-1{
	width:800px;
	border:1px solid black;
}
.centre{
	text-align:center;
	
}
.right{
	text-align:right;
	
}

#table-2{
	width:800px;
	height:150px;
	border:1px solid black;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
#table-3{
	border:1px solid black;
	Spacing:1px;
	cell-padding:1px;
}